

.section1{
    display: flex;
    height: 15%;
    align-items: center;
    border-radius: 1px;
}


    
.h1{
    font-family:Verdana,Geneva, Tahoma, sans-serif
}

li{
    display:inline-flex;
}



